.user-interface{
    margin: 0 auto;
}
.interface-inside{
    width: 986px;

}
.search{
display: flex;
align-items: center;
justify-content: space-between;
margin-top: 15px;
}
.search>button{
border-radius: 8px;
width: 216px;
height: 38px;
border: none;
border-color: rgb(243, 247, 240);
text-align-last: left;
padding: 10px;
}